ul {
    padding: 0;
}

.feito {
    list-style-type: none;
    background-color: #27ae60;
    padding: 60px 0 60px 90px;
    margin-bottom: 3px;
    background-image: url('selecionado.png');
    background-repeat: no-repeat;
    background-position: -70px center;
}

li:hover.feito {
    background-color: #52be7f;
}

.naofeito {
    list-style-type: none;
    background-color: #4a4a4a;
    padding: 60px 0 60px 90px;
    margin-bottom: 3px;
    background-image: url('naoselecionado.png');
    background-repeat: no-repeat;
    background-position: -70px center;
}

li:hover.naofeito {
    background-color: #6e6d6e;
}

a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    background-image: url('seta.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-fontsmoothing: antialiased;
    height: 100%;
}