body {
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
}

.botao {
    background-color: #ff3d7f;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 3px;
    box-shadow: 0px 6px 0px #a32751;
}



header {
    margin-bottom: -90px;
}

header h1 {
    margin: 0px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    width: 177px;
    height: 76px;
    margin-top: 10px;
}

header h1 span {
    visibility: hidden;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 100px;
}

header nav ul {
    margin: 0px;
    padding-right: 50px;
    margin-top: 25px;
}

header nav li:last-child {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
}

header nav li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}




section#topo {
    background-image: url(fundo.png);
    background-size: cover;
    height: 1000px;
}

section#topo .chamada {
    margin-top: 300px;
    color: #fff;
    text-align: center;
}

section#topo .chamada h2 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: medium;
}

section#topo .chamada p {
    font-size: 36px;
    font-weight: lighter;
    margin: 0px;
    margin-bottom: 20px;
}

section#topo .chamada a {
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    font-weight: lighter;
}



section#conheca {
    padding: 70px;
}

section#conheca .caixa {
    padding: 60px;
    padding-left: 150px;
    padding-right: 170px;
}

section#conheca .caixa h2 {
    font-size: 36px;
}

section#conheca .caixa p {
    font-size: 24px;
    margin-right: 20px;
}

section#conheca .caixa a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    font-size: 30px;
}

section#depoimentos {
    background-color: #ebe8fb;
    border-top: 3px solid #511099;
    text-align: center;
    padding: 70px;
}

section#depoimentos .container {
    flex-direction: column;
    align-items: center;
}

section#depoimentos .container img {
    width: 150px;
    height: 150px;
}

section#depoimentos .container p {
    width: 80%;
    font-size: 24px;
    text-align: center;
}



section#convite {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(fundo-convite.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section#convite .container {
    flex-direction: column;
    align-items: center;
}

section#convite .container form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    width: 55%;
    display: flex;
    border-radius: 3px;
}

section#convite .container input {
    padding: 30px;
    width: 70%;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #4a4a4a;
}

section#convite .container button {
    background-image: url(botao-convite.png);
    background-color: transparent;
    border: none;
    width: 87px;
    height: 43px;
    margin-top: 25px;
    margin-left: 25px;
}

section#convite .container span {
    visibility: hidden;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2a0157;
    color: #fff;
    margin-top: 3px;
    font-size: 18px;
}

footer .container {
    flex-direction: column;
    align-items: center;
}


@media (max-width: 600px) {
    header {
        margin-bottom: -100px;
    }

    header nav {
        display: none;
    }

    header h1 {
        margin-left: 20px;
        margin-top: 20px;
    }

    section#topo .container {
        padding: 10%;
    }

    section#conheca .container {
        flex-direction: column;
        align-items: center;
    }

    section#conheca .container .caixa {
        padding: 10px;
    }

    section#conheca .container .caixa a {
        width: 100%;
    }

    section#convite .container form {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    section#convite .container input {
        width: 80%;
        font-size: 15px;
    }
}